# macOS
.DS_Store

# Editors
.vscode/
.idea/
*.swp
*.swo

# Logs / temp
*.log
.tmp/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# env files
.env
.env.local
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
